.infoline {
	background-color: black;
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid #a38763;
}

.infoline ul {
	list-style-type: none;
	display: inline-block;
	margin-top: 20px;
}

.infoline ul li {
	display: inline-block;
	margin-right: 20px;
}

.infoline img {
	width: 20px;
	display: inline-block
}

.infoline ul li a {
	color: white;
}

.infoline #location p, .infoline #location2 p {
	margin-left: 4px;
}

.infoline ul li p {
	display: inline-block;
	margin-left: 7px;
}

#maintitle {
	font-family: 'Berkshire Swash', cursive;
	font-size: 40px;
}

.header {
	border-bottom: 2px solid #a38763;
	background-color: black;
}

.header ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 13px;
	margin-bottom: 10px;
}

.header ul li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 22px;
	padding: 0 10px 0 10px;
	margin-top: -10px;
	margin-bottom: -10px;
	transition: background-color 0.5s ease;
	font-family: 'Josefin Sans', sans-serif;
}

.header a {
	color: white;
	margin-right: 40px;
	margin-left: 40px;
}

.header ul li:hover {
	text-decoration-style: none;
}

.header ul a:hover {
	color: #a38763;
}

.header ul a:focus {
	color: #a38763;
}

.header ul a:active {
	color: #a38763;
}

#location2 {
	display: none;
}

@media only screen and (max-width: 991px) {
	#maintitle {
		text-align: center;
	}

	.header ul li {
		display: block;
		margin-bottom: 5px;
	}

	.header ul a:hover {
		text-decoration: none;
	}

	.header ul a:focus {
		text-decoration: none;
	}

	.header ul {
		margin: 0 auto;
		margin-bottom: -15px;
		text-align: center;
	}

	.body #callnowtext {
		margin-top: 60px;
		font-size: 36px;
	}

	.body {
		text-align: center;
	}
}

@media only screen and (max-width: 422px) {
	#location {
		display: none;
	}

	#location2 {
		display: inline-block;
	}
}

@media only screen and (max-width: 433px) {
	.header ul li {
		display: block;
	}
}

@media only screen and (min-width: 546px) and (max-width: 740px) {
	.infoline .row .col-md-8 {
		text-align: center;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	body .body {
		background-position: center center;
	}

	.body .row #callnowtext {
		font-size: 40px;
	}
}


@media only screen and (max-width: 991px) {
	body .body {
		height: 726px;
		background-size: auto 726px;
		background-position: center bottom;
	}

	body .body .col-md-6 {
		margin-top: 310px;
	}

	body .bottom .first, body .bottom #abouttext {
		margin: 0;
	}

	body .bottom .container .col-md-6 {
		text-align: center;
	}

	body .bottom .second {
		margin-top: 30px;
		margin-bottom: 30px;
	}

}

@media only screen and (min-width: 421px) and (max-width: 767px) {
	body .bottom .second a {
		font-size: 22px;
	}
}

@media only screen and (max-width: 420px) {
	body .bottom .second a {
		font-size: 16px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	body .body {
		background-position: top center;
	}
}

@media only screen and (max-width: 502px) {
	.bottom #abouttext {
		font-size: 20px;
	}
}

@media only screen and (min-width: 992px) {
	.second {
		margin-bottom: 40px;
	}
}

@media only screen and (min-width: 1950px) {
	html body .body {
		background-size: cover;
		background-position: 50% 18%;
	}
}

@media only screen and (max-width: 542px) {
	.infoline #location p, .infoline #location2 p {
		margin-left: 7px;
	}
}

.body {
	background: url("images/hairmodel.jpg");
	background-position: top-left center;
	height: 900px;
	border-bottom: 2px solid #a38763;
}

#callnowtext {
	font-size: 52px;
	margin-top: 356px;
	margin-bottom: 40px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.body .btn {
	color: black;
	background-color: white;
	border: 1px solid black;
}

.body .btn p {
	padding: 18px 20px 10px 20px;
}

.body .btn:hover {
	background-color: #a38763;
	border: 1px solid white;
	color: white;
}

#abouttext {
	margin-top: 40px;
	font-size: 26px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	margin-bottom: 15px;
}

.bottom {
	background-color: white;
	color: black;
}

.bottom h2 {
	text-align: center;
	font-family: 'Berkshire Swash', cursive;
	font-size: 40px;
	color: #a38763;
}

.bottom .first {
	margin-bottom: 80px;
	margin-top: 80px;
}

.bottom .second {
	text-align: center;
}

.bottom .second a {
	border: 1px solid white;
	border-radius: 20px;
	color: white;
	background-color: #a38763;
	text-decoration: none;
	padding: 20px 30px 20px 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 36px;
}

.footer {
	background-color: black;
	border-top: 2px solid #a38763;
	color: white;
	text-align: right;
	border-bottom: 2px solid #a38763;
}

.footer p {
	margin-top: 30px;
	margin-bottom: 30px;
}